@media(min-width: 768px){
    .card {
      padding-inline: 50px;
      width: 386px;
    }  
  
    .card p {
      font-size: 21px;
      padding: 26px;
    }
  } 

  @media(max-width: 495px){
    .card {
    max-width: 300px; 
 }

    .card .divisor {
        max-width: 250px;
    }
  }